<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Screen</title>
    <link rel="stylesheet" type="text/css" href="createOrder.css" media="screen">
    <script type="module" src="createOrder.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="main-window">
        <nav class="sidebar close">
            <header>
                <div class="image-text">
                    <span class="image">
                        <img src="/src/imgs/AlphaTech_transparent.png" alt="logo">
                    </span>
                    <div class="text hearder-text">
                        <span class="name">Saturn 0.0.1</span>
                    </div>
                </div>
                <i class='bx bx-chevron-right toggle'></i>
            </header>
            <div class="menu-bar">
                <div class="menu">
                    <li class="search-box">
                        <i class='bx bx-search icon'></i>
                        <input type="search" placeholder="Search...">
                    </li>
                    <ul class="menu-links">
                        <li class="nav-link">
                            <a href="#">
                                <i class='bx bx-plus-circle icon close'></i>
                                <span class="text nav-text">Ordem de Serviço</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a href="#">
                                <i class='bx bx-data icon open'></i>
                                <span class="text nav-text">Em breve</span>
                            </a>
                        </li>                        
                    </ul>
                </div>
                <div class="bottom-content">
                    <li class="">
                        <a href="#">
                            <i class='bx bx-log-out icon logout' id="logOutButton"></i>
                            <span class="text nav-text">Logout</span>
                        </a>
                    </li>
                    <li class="mode">
                        <div class="moon-sun">
                            <i class='bx bx-moon icon moon'></i>
                            <i class='bx bx-sun icon sun'></i>
                        </div>
                        <span class="mode-text text">Dark Mode</span>
                        <div class="toggle-switch">
                            <span class="switch">

                            </span>
                        </div>
                    </li>
                </div>
            </div>
        </nav>
        <div class="main_div"> 
            <div class="dateDiv">
                <h1 class="titleName">Data de início</h1>                
                <input type="date" class="dateChosser">
                <h1 class="titleName">Data de Término</h1>                
                <input type="date" class="dateChosser">
                <h2 class="titleName"> Nome do cliente </h2>
                <input type="text" class="clientName">
            </div> 
            <div class="clientsList">
                <div class="clientPerson">
                    <div class="clientCode">#120</div>
                    <h4 class="clientDescription">Pedro Elias Figueredo de Sousa</h4>
                    <h4 class="clientDescription computer">Positivo SLIM 4</h4>
                    <h4 class="clientDescription date">23/06/2022</h4>
                    <h4 class="clientDescription status">Finalizado</h4>
                    <div class="clientPrice">R$ 256</div>                    
                </div>
                <div class="clientPerson">
                    <div class="clientCode">#120</div>
                    <h4 class="clientDescription">Pedro Elias Figueredo de Sousa</h4>
                    <h4 class="clientDescription computer">Positivo SLIM 4</h4>
                    <h4 class="clientDescription date">23/06/2022</h4>
                    <h4 class="clientDescription status">Finalizado</h4>
                    <div class="clientPrice">R$ 256</div>                    
                </div>
                <div class="clientPerson">
                    <div class="clientCode">#120</div>
                    <h4 class="clientDescription">Pedro Elias Figueredo de Sousa</h4>
                    <h4 class="clientDescription computer">Positivo SLIM 4</h4>
                    <h4 class="clientDescription date">23/06/2022</h4>
                    <h4 class="clientDescription status">Finalizado</h4>
                    <div class="clientPrice">R$ 256</div>                    
                </div>
                <div class="clientPerson">
                    <div class="clientCode">#120</div>
                    <h4 class="clientDescription">Pedro Elias Figueredo de Sousa</h4>
                    <h4 class="clientDescription computer">Positivo SLIM 4</h4>
                    <h4 class="clientDescription date">23/06/2022</h4>
                    <h4 class="clientDescription status">Finalizado</h4>
                    <div class="clientPrice">R$ 256</div>                    
                </div>
                <div class="clientPerson">
                    <div class="clientCode">#120</div>
                    <h4 class="clientDescription">Pedro Elias Figueredo de Sousa</h4>
                    <h4 class="clientDescription computer">Positivo SLIM 4</h4>
                    <h4 class="clientDescription date">23/06/2022</h4>
                    <h4 class="clientDescription status">Finalizado</h4>
                    <div class="clientPrice">R$ 256</div>                    
                </div>
                <div class="clientPerson">
                    <div class="clientCode">#120</div>
                    <h4 class="clientDescription">Pedro Elias Figueredo de Sousa</h4>
                    <h4 class="clientDescription computer">Positivo SLIM 4</h4>
                    <h4 class="clientDescription date">23/06/2022</h4>
                    <h4 class="clientDescription status">Finalizado</h4>
                    <div class="clientPrice">R$ 256</div>                    
                </div>
                <div class="clientPerson">
                    <div class="clientCode">#120</div>
                    <h4 class="clientDescription">Pedro Elias Figueredo de Sousa</h4>
                    <h4 class="clientDescription computer">Positivo SLIM 4</h4>
                    <h4 class="clientDescription date">23/06/2022</h4>
                    <h4 class="clientDescription status">Finalizado</h4>
                    <div class="clientPrice">R$ 256</div>                    
                </div>
            </div>   
            <div class="buttonsDiv">
                <h2 class="qtdOrders">26 orçamentos</h2>     
                <div id="newOrder">Criar Orçamento<i class='bx bx-plus-circle icon close'></i></div>                                              
            </div>
            
        </div>
    </div>        
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>

</html>